
body.dark{
    background-color: rgb(27, 27, 27);
    color: rgb(195, 195, 195);
}

body.dark .tw{
    color: rgb(195, 195, 195) !important;
}

body.dark header{
    background-color: rgb(37, 37, 37);
}

body.dark .menu-li{
    color: rgb(195, 195, 195) !important;
}

body.dark .feather-icon{
    color: rgb(0, 119, 255) !important;
}

body.dark #menu{
    background-color: rgb(37, 37, 37);
}

body.dark #menu a{
    color: rgb(195, 195, 195) !important;
}

body.dark #menu .mobile-li:hover{
    background-color: rgb(49, 49, 49);
}

body.dark #go-up{
    background-color: rgb(37, 37, 37);
    opacity: .7;
}

/* section two : abuot */
body.dark #discription{
    background-color: rgb(41, 41, 41);
}
body.dark #discription::after{
    border-color: grey;
}
body.dark #awards{
    background-color: rgb(34, 34, 34);
}
body.dark #awards #icon-award{
    box-shadow: none;
    background-color: rgb(41, 41, 41);
}
body.dark .awards-progress{
    opacity: .6;
}
/* End of section two : abuot */