/* Common Styles */
@font-face {
    font-family: dana;
    src: url("../files/font/dana/dana-demibold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: dana;
    src: url("../files/font/dana/dana-extrabold.ttf");
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: dana;
    src: url("../files/font/dana/dana-regular.ttf");
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family: dana;
    src: url("../files/font/dana/dana-light.ttf");
    font-weight:lighter;
    font-style: normal;
}
@font-face{
    font-family: 'iranyekanlight';
    src: url("../files/font/IRANYekanLight.ttf");
}
*{
    scroll-behavior: smooth;
}
body{
    font-family:'iranyekanlight' !important;
    overflow-x: hidden;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
a{
    text-decoration: none !important;
}
.font-en{
    font-family: yekanBakhEn !important;
}
.font-yekan-light{
    font-family: 'iranyekanlight' ;
}

