/* Common Styles */

@font-face{
    font-family: 'yekanBakh';
    src: url("../files/font/Yekan\ Bakh.ttf");
}
@font-face{
    font-family: 'yekanBakhEn';
    src: url("../files/font/YekanBakhEN04Regular.ttf");
}
@font-face{
    font-family: 'iranyekanlight';
    src: url("../files/font/IRANYekanLight.ttf");
}
*{
    scroll-behavior: smooth;
}
body{
    font-family:'iranyekanlight' !important;
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
    color: black !important;
}
.font-en{
    font-family: yekanBakhEn !important;
}
.font-yekan-light{
    font-family: 'iranyekanlight' ;
}

