/* Common Styles */

@font-face{
    font-family: 'yekanBakh';
    src: url("../files/font/Yekan\ Bakh.ttf");
}
@font-face{
    font-family: 'yekanBakhEn';
    src: url("../files/font/YekanBakhEN04Regular.ttf");
}
body{
    font-family: yekanBakh !important;
    font-style: normal;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.en{
    font-family: yekanBakhEn !important ;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    background-color: white;
    box-shadow: 0 0 20px .3px rgba(156, 156, 156, 0.253);
}


/* shoping cart */
#shoping-cart{
    z-index: 1000;
    visibility: hidden;
    transition: .9s;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 10px;
    text-align: center;
    background: white;
    padding: 10px;
    justify-content: center;
    min-width: 400px;
    min-height: 100px;
    box-shadow: 0 0 20px .3px rgba(156, 156, 156, 0.253);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: .9s;
    -moz-transition: .9s;
    -ms-transition: .9s;
    -o-transition: .9s;
}

.buy:hover #shoping-cart{
    visibility: visible;
    opacity: 1;
}

thead tr td{
    margin: 10px 40px;
    display: inline-block;
    font-weight: bolder;
}

tbody img{
    width: 120px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
tbody tr{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px dashed gainsboro;
}

.remove{
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 124, 124);
    font-family: yekanBakhEn;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 0px 20px .2px rgba(253, 100, 100, 0.657);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.remove:hover{
    text-decoration: none;
    background-color: red;
    color: white;
}

.clear-cart{
    background-color: rgb(255, 184, 184);
    border: none;
    outline: none;
    width: 80%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 20px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.clear-cart:hover{
    background-color: rgb(197, 197, 197);
}
/* End of shoping cart */


/* courses and cart */
.cart{
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(206, 206, 206, 0.171);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    margin: 20px 10px;
    padding: 0 !important;
}
.cart:hover{
    box-shadow: 5px 10px 20px rgba(179, 179, 179, 0.212);
}
.cart-info{
    padding: 20px;
}
.cart-info h5{
    font-weight: bold;
}
.cart-info button{
    cursor: pointer !important;
    display: block;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(0, 19, 192);
    padding: 5px;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.cart-info button:hover{
    background-color: rgb(68, 86, 253);
}
/* End of courses and cart */


/* mobile style */
@media screen and (max-width:480px){
    #shoping-cart{
        min-width: 99%;
        max-width: 99%;
    }
    tbody img{
        width: 70px;
    }
    table{
        font-size: .8em !important;
    }
    thead tr td{
        margin: 10px 30px;
        display: inline-block;
        font-weight: bolder;
    }
}
/* End of mobile style */