/* Common Styles */

@font-face{
    font-family: 'yekanBakh';
    src: url("../files/font/Yekan\ Bakh.ttf");
}
@font-face{
    font-family: 'yekanBakhEn';
    src: url("../files/font/YekanBakhEN04Regular.ttf");
}
body{
    font-family: yekanBakhEn !important;
    font-style: normal;
    overflow-x: hidden;
    background-color: white;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
body.light{
    background-color: rgb(200, 200, 200) !important; 
}
a{
    text-decoration: none;
}
.en{
    font-family: yekanBakhEn !important ;
}


/* rental form  */
.rental-form{
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 0 30px .1px rgba(0, 0, 0, 0.041);
    border-radius: 20px;
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.form-header{
    text-align: center;
    color:black;
    font-weight: bolder;
    font-size: 1.1em;
}
.form-header::after{
    display: inline-block;
    content: "";
    width: 150px;
    height: 10px;
    background-color: rgba(0, 150, 250, 0.137);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
.form-radio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-radio div{
    display: flex;
    align-items: center;
}
.form-radio div label{
    display: inline-block;
    margin-right: 25px;
}
.form-radio div input{
    display: inline-block;
    margin-right: 8px;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

.loader img{
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    width: 0;
}
.loader img.active{
    visibility: visible;
    opacity: 1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    width: auto;
    margin: 40px auto;
}

#warning{
    background: red;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-top: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 85%;
    transition: .9s;
    -webkit-transition: .9s;
    -moz-transition: .9s;
    -ms-transition: .9s;
    -o-transition: .9s;
    transform: translateX(1000%);
    -webkit-transform: translateX(1000%);
    -moz-transform: translateX(1000%);
    -ms-transform: translateX(1000%);
    -o-transform: translateX(1000%);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    position: fixed;
    top: 20px;
}
#warning.active{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 20px;
    right: 5%;
}

#result > p{
    text-align: center;
    border: 3px dashed rgb(117, 117, 117);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-top: none;
    margin-bottom: 20px;
}
.result-header{
    background: rgb(117, 117, 117);
    color: white;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    padding: 10px;
    box-shadow:0 0 1px 3px rgb(117, 117, 117);
    font-weight: 800;
}

.rental-car{
    padding: 5px;
    background-color: rgb(255, 4, 4);
    border: none;
    color: white;
    border-radius: 40px;
    width: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 20px .2px rgba(255, 0, 0, 0.411);
}
/* End of rental form  */
