@font-face {
  font-family: "myriad";
  src: url("../../files/fonts/Myriad.ttf");
}
@font-face {
  font-family: "myriad";
  src: url("../../files/fonts/MyriadWebBold.ttf");
  font-weight: bold;
}
body {
  font-family: "myriad";
  background-color: #1e1b2e !important;
}

.container {
  color: rgb(245, 245, 245);
  font-size: 13px !important;
}
@media screen and (max-width: 786px) {
  .container {
    font-size: 14px;
  }
}

.container.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  opacity: 0.8;
  position: static !important;
}

/*-------------------
        Header 
--------------------*/
header #new-task-btn {
  background-color: rgb(255, 187, 0);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: #1e1b2e;
  width: 120px;
  font-weight: 500;
  padding: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 3px solid transparent;
}
@media screen and (min-width: 500px) {
  header #new-task-btn span {
    margin-bottom: 1px;
  }
}
header #new-task-btn:hover {
  background-color: #1e1b2e;
  border-color: rgb(255, 187, 0);
  color: rgb(255, 187, 0);
}

/*----------------------- 
    Start Task Progress
-------------------------*/
.task-progress {
  background-color: #232033;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}
.task-progress .icon {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 2px solid #636363;
  color: rgb(255, 187, 0);
  font-size: 1.6em;
}
.task-progress .body span {
  font-size: 0.9em;
  color: #636363;
  font-weight: 400;
}
.task-progress .circle {
  width: 75px;
  height: 75px;
  position: relative;
}
.task-progress .circle svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.task-progress .circle svg circle {
  fill: none;
  stroke-width: 8px;
  transform: translate(4px, 4px);
  -webkit-transform: translate(4px, 4px);
  -moz-transform: translate(4px, 4px);
  -ms-transform: translate(4px, 4px);
  -o-transform: translate(4px, 4px);
  stroke: gold;
  stroke-dasharray: 201;
  stroke-dashoffset: 201;
  stroke-linecap: round;
}
.task-progress .circle svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #636363;
}
.task-progress .circle svg circle:nth-child(2) {
  stroke: rgb(0, 182, 238);
}
.task-progress .circle .number {
  position: absolute;
  font-weight: bold;
}

/*----------------------- 
    Start Task List
-------------------------*/
#task-list {
  background-color: #232033;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-size: 0.97em;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#task-list .title {
  word-break: break-all;
  text-transform: capitalize;
}
#task-list .list-title.hidde {
  opacity: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#task-list .icons i {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
#task-list .icons #optionBtn {
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.829);
}
#task-list .category {
  font-size: 0.9em;
  color: #636363;
}
#task-list .optionBox {
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: rgb(53, 53, 53);
  min-width: 100px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}
#task-list .optionBox .fa-duotone {
  font-size: 0.9em;
}
#task-list .optionBox.active {
  top: 0px;
  right: 25px;
  opacity: 1;
  visibility: visible;
}
#task-list .optionBox div {
  padding: 5px 6px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: pointer;
}
#task-list .optionBox div:hover {
  background-color: rgb(32, 32, 32);
}
#task-list .priority {
  padding: 2px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
  font-size: 0.83em;
}
#task-list .priority.High {
  background-color: rgba(255, 0, 0, 0.13);
  color: rgb(255, 45, 45);
}
#task-list .priority.Medium {
  background-color: rgba(255, 177, 74, 0.103);
  color: rgb(255, 115, 0);
}
#task-list .priority.Low {
  background-color: rgba(37, 90, 189, 0.192);
  color: rgb(0, 157, 248);
}

.checkbox-container {
  min-width: 25px;
  min-height: 25px;
  border: 2px solid #636363;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.checkbox {
  display: inline-block;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -2px;
  right: -2px;
  pointer-events: none;
  cursor: pointer;
  font-size: 0.8em;
  color: transparent;
  padding-left: 1px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.checkbox:checked ~ label {
  color: rgb(245, 245, 245);
  background-color: rgb(6, 143, 255);
  opacity: 1;
}

.list-option {
  border-bottom: 1px solid rgba(255, 255, 255, 0.041);
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #232033;
}

.list-option.slide-up {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  background-color: #232033;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.list-option.remove {
  background: linear-gradient(90deg, #232033, #dc3545);
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  padding-right: 10px;
  opacity: 0;
  padding: 0 10px;
}

.list-option.undo {
  background: linear-gradient(90deg, #232033, rgba(0, 153, 255, 0.534));
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  padding-right: 10px;
  opacity: 1;
  padding: 0 10px;
}

.list-option.complete {
  background: linear-gradient(90deg, #232033, #28a745);
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  padding-right: 10px;
  opacity: 0;
}

.list-option.unComplete {
  background: linear-gradient(90deg, #232033, rgb(9, 0, 136));
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  opacity: 0;
}

.list-option.hidde {
  display: none !important;
}

/*------------------------ 
 Start Search in task list
-------------------------*/
#search {
  background-color: transparent;
  padding: 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#search input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  visibility: hidden;
  width: 0px;
  opacity: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
#search .search-icon {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#search .close-search {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin-top: 2px;
}

#search.active {
  background-color: #1e1b2e;
}
#search.active input {
  width: 200px;
  opacity: 1;
  visibility: visible;
}
#search.active .close-search {
  position: absolute;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
#search.active .search-icon {
  visibility: hidden;
  opacity: 0;
}

/*------------------------ 
 Start filter in task list
-------------------------*/
#filter-box {
  position: absolute;
  top: 10px;
  right: 45px;
  background-color: rgb(53, 53, 53);
  min-width: 150px;
  z-index: 10;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(10px, 5px);
  -webkit-transform: translate(10px, 5px);
  -moz-transform: translate(10px, 5px);
  -ms-transform: translate(10px, 5px);
  -o-transform: translate(10px, 5px);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#filter-box li {
  padding: 8px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  cursor: pointer;
}
#filter-box li:hover {
  background-color: rgb(32, 32, 32);
}
#filter-box li.active {
  background-color: rgb(78, 78, 78);
}

#filter-box.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}

/*----------------------- 
    Start Complete Tasks
-------------------------*/
#complete-list {
  background-color: #232033;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-size: 0.97em;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#complete-list .list-option {
  opacity: 0.6;
}
#complete-list .title {
  word-break: break-all;
  text-transform: capitalize;
  text-decoration: line-through;
}
#complete-list .category {
  font-size: 0.9em;
  color: #636363;
}
#complete-list .remove-btn {
  font-size: 1.4em;
  cursor: pointer;
}
#complete-list .remove-btn:hover {
  color: #dc3545;
}
#complete-list .priority {
  padding: 2px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
  font-size: 0.83em;
}
#complete-list .priority.High {
  background-color: rgba(255, 0, 0, 0.13);
  color: rgb(255, 45, 45);
}
#complete-list .priority.Medium {
  background-color: rgba(255, 177, 74, 0.103);
  color: rgb(255, 115, 0);
}
#complete-list .priority.Low {
  background-color: rgba(37, 90, 189, 0.192);
  color: rgb(0, 157, 248);
}

/*----------------------- 
    Start Message Box
-------------------------*/
#message-box {
  position: fixed;
  top: 0;
  right: 0;
  transform: translatY(-50%);
  -webkit-transform: translatY(-50%);
  -moz-transform: translatY(-50%);
  -ms-transform: translatY(-50%);
  -o-transform: translatY(-50%);
  width: 100%;
  height: 100vh;
  z-index: 25;
  height: 25px;
}
#message-box .icon {
  width: 30px !important;
  height: 30px !important;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  margin-left: 5px;
}
#message-box .icon i {
  font-size: 0.6em !important;
}
#message-box .message {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  opacity: 0;
}
#message-box .message.show {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  opacity: 1;
}
#message-box .message.hidden {
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  opacity: 0;
}
#message-box .icon {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 1.5em;
}

/*----------------------- 
    Start New Task Form
-------------------------*/
#new-task-form {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  font-size: 1rem;
}
#new-task-form .background-blur {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 0;
}

#new-task-form.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  background-color: rgba(153, 153, 153, 0);
}
#new-task-form.active form {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}
#new-task-form.active #created-new-task {
  background-color: #f5f5f5;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

#new-task-form #created-new-task {
  transform: translateY(70px);
  -webkit-transform: translateY(70px);
  -moz-transform: translateY(70px);
  -ms-transform: translateY(70px);
  -o-transform: translateY(70px);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  min-height: 20vh;
  z-index: 5;
}
#new-task-form #created-new-task .header i {
  font-size: 1.3em;
  cursor: pointer;
}
#new-task-form #created-new-task .header i:hover {
  opacity: 0.7;
}
#new-task-form #created-new-task .header .closer {
  position: absolute;
  top: 20px;
  right: 33px;
  font-size: 1.3em;
}
#new-task-form #created-new-task input {
  border: 0;
  outline: none;
}
#new-task-form #created-new-task label {
  cursor: pointer;
  color: rgb(121, 121, 121);
  font-weight: 500;
}
#new-task-form #created-new-task #title {
  background-color: #e7e7e7;
  color: rgb(12, 12, 12) !important;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  border: 1px solid rgb(218, 218, 218);
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 0.9em;
}
#new-task-form #created-new-task #title:focus {
  border-color: rgb(170, 170, 170);
}
#new-task-form #created-new-task .task-categories {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
#new-task-form #created-new-task #new-category-btn {
  background-color: transparent;
  color: #f5f5f5;
  background-color: rgb(6, 143, 255);
  outline: none;
  font-size: 0.75em;
  padding: 6px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#new-task-form #created-new-task #new-category-btn:hover {
  background-color: rgb(9, 0, 136);
  color: rgb(245, 245, 245);
}
#new-task-form #created-new-task #add-to-btn {
  background-color: rgb(255, 187, 0);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 2px solid transparent;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#new-task-form #created-new-task #add-to-btn:hover {
  border-color: rgb(255, 187, 0);
  background-color: #f5f5f5;
}
#new-task-form #created-new-task #add-to-btn i {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
}

.task-categories .radio-group input {
  display: none;
}
.task-categories .radio-group label {
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  padding: 8px 25px;
  background-color: #e7e7e7;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: 0.8em;
  font-weight: 700 !important;
}
.task-categories .radio-group input:checked ~ label {
  background-color: #232033;
  color: white !important;
}

#task-priority {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.9em;
}
#task-priority input {
  display: none;
}
#task-priority label {
  padding: 8px 25px;
  background-color: #e7e7e7;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: 0.9em;
  font-weight: bold !important;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#task-priority #High:checked ~ label {
  background-color: rgb(255, 219, 219);
  color: red;
}
#task-priority #Medium:checked ~ label {
  background-color: rgb(255, 244, 184);
  color: rgb(255, 115, 0);
}
#task-priority #Low:checked ~ label {
  background-color: rgb(219, 219, 255);
  color: rgb(0, 0, 248);
}

/*------------------------- 
     Start New Category
-------------------------*/
#categories-form {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 15;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#categories-form .background-blur {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

#categories-form.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
#categories-form.active #categories-section {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

#categories-section {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 5;
  background-color: #f5f5f5;
  min-height: 20vh;
}
#categories-section .header i {
  font-size: 1.3em;
  cursor: pointer;
}
#categories-section .header i:hover {
  opacity: 0.7;
}
#categories-section .header .closer {
  position: absolute;
  top: 20px;
  right: 33px;
  font-size: 1.3em;
}
#categories-section label {
  cursor: pointer;
  color: rgb(121, 121, 121) !important;
  font-weight: 450;
}
#categories-section input {
  background-color: #e7e7e7;
  color: rgb(12, 12, 12);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  border: 1px solid rgb(212, 212, 212);
  padding: 15px 60px 15px 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: 0.9em;
  width: 100%;
  outline: none;
}
#categories-section input:focus {
  border-color: rgb(170, 170, 170);
}
#categories-section form button {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 80px;
  background-color: rgb(255, 187, 0);
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  font-size: 0.9em;
}
#categories-section form button:hover {
  background-color: rgb(255, 166, 32);
}
#categories-section #category-list .category-option {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #e7e7e7;
  font-size: 0.91em;
  color: #1e1b2e;
}
#categories-section #category-list .category-option i {
  cursor: pointer;
  color: rgb(255, 79, 79);
}
#categories-section #category-list .category-option i:hover {
  color: rgb(235, 17, 17);
}

/*------------------------- 
 Start Confirm Delete Box
-------------------------*/
#confirm-box {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 15;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#confirm-box .background-blur {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

#confirm-box.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
#confirm-box.active #confirm-form {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

#confirm-box #confirm-form {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 5;
  background-color: #f5f5f5;
  min-height: 20vh;
}
#confirm-box #confirm-form p {
  font-size: 1.2em;
}
#confirm-box #confirm-form button {
  color: #1e1b2e;
  padding: 5px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#confirm-box #confirm-form #cancel {
  background-color: rgb(255, 187, 0);
}
#confirm-box #confirm-form #cancel:hover {
  background-color: rgba(32, 42, 51, 0.4509803922);
}
#confirm-box #confirm-form #remove {
  color: #1e1b2e;
  background-color: #e7e7e7;
}
#confirm-box #confirm-form #remove:hover {
  background-color: #dc3545;
  color: rgb(245, 245, 245);
}

/*------------------------- 
  Start Undo Remove Task
-------------------------*/
#undo-box {
  position: fixed;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#undo-box .box {
  height: 50px;
  background-color: #232033;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 0;
}

#undo-box.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
#undo-box.active .box {
  transform: translateY(-70px);
  -webkit-transform: translateY(-70px);
  -moz-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  -o-transform: translateY(-70px);
  opacity: 1;
}

/*------------------------- 
  Start New Task Popup Button
-------------------------*/
#new-task-popup {
  background-color: rgb(255, 187, 0);
  width: 45px;
  height: 45px;
  position: fixed;
  right: 30px;
  bottom: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(255, 187, 0);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#new-task-popup:hover {
  background-color: #1e1b2e;
  color: rgb(255, 187, 0);
}

#new-task-popup.hidden {
  transform: translateY(200px);
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
}

/*------------------------- 
        Start Footer
-------------------------*/
footer {
  font-size: 1em;
}
footer .row {
  background-color: #232033;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
footer .link {
  font-size: 0.95em;
  opacity: 0.9;
}

/*------------------------------------------ 
 * * * * * * * *  Mobile Styles * * * * * * 
------------------------------------------*/
@media screen and (max-width: 768px) {
  #new-task-form {
    font-size: 0.9em;
  }
  #created-new-task {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 40px 40px 0px 0px !important;
    -webkit-border-radius: 40px 40px 0px 0px !important;
    -moz-border-radius: 40px 40px 0px 0px !important;
    -ms-border-radius: 40px 40px 0px 0px !important;
    -o-border-radius: 40px 40px 0px 0px !important;
  }
  #categories-form {
    font-size: 0.9em;
    bottom: 0;
  }
  #categories-section {
    border-radius: 40px 40px 0 0 !important;
    -webkit-border-radius: 40px 40px 0 0 !important;
    -moz-border-radius: 40px 40px 0 0 !important;
    -ms-border-radius: 40px 40px 0 0 !important;
    -o-border-radius: 40px 40px 0 0 !important;
    min-height: 20vh;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  #confirm-form {
    border-radius: 40px 40px 0 0 !important;
    -webkit-border-radius: 40px 40px 0 0 !important;
    -moz-border-radius: 40px 40px 0 0 !important;
    -ms-border-radius: 40px 40px 0 0 !important;
    -o-border-radius: 40px 40px 0 0 !important;
    min-height: 20vh;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  #search.active input {
    width: 150px;
  }
}

/*# sourceMappingURL=main-styles.css.map */
