// Colors 
$bgDarkColor: #1e1b2e;
$bgSecondaryColor: #232033;
$bgGoldColor: rgb(255, 187, 0);
$textColor: rgb(245, 245, 245);
$textMuted: #636363;
$bgSecondary50: #202a3373;
$bgBlueColor: rgb(6, 143, 255);
$bgDarkBlueColor: rgb(9, 0, 136);
$dangerColor: #dc3545;
$warrningColor: #ffc107;
$successColor: #28a745;
$grayColor: #e7e7e7;
$bgWhite: #f5f5f5;